// SPDX-License-Identifier: GPL-2.0-or-later
#define PACKAGE_NAME @PACKAGE_NAME@
#define PACKAGE_VERSION @PACKAGE_VERSION@
#define PACKAGE_URL @PACKAGE_URL@
#define PACKAGE_BUGREPORT @PACKAGE_BUGREPORT@
